.banner--img {
    position: relative; /* Ensure the pseudo-element is positioned relative to this container */
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../public/img/bannerImg/banner.svg);
    background-repeat: no-repeat;
    background-size: 100%;    
    &::before {
        content: '';
        position: absolute;
        height: calc(100vh - 0px);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.7); /* Adjust the last value (0.7) for the desired opacity */
        z-index: 1; /* Ensure the overlay is behind the content */
    }
}

.banner--img .content{
    z-index: 9;
    width: 50%;
    margin: auto;
    text-align: center;
}
.banner--img .content h1{
    font-weight: 500;
    font-size: 48px;
    line-height: 63.74px;
    color: #fff;
    padding-bottom: 20px;
}
.banner--img .content p{
    font-weight: 400;
    font-size: 16px;
    line-height: 27.91px;
    color: #fff;
    padding-bottom: 3em;
    max-width: 600px;
    margin: auto;
}
.banner--img .content a{
    font-weight: 400;
    font-size: 16px;
    line-height: 27.91px;
    color: #fff;
    padding: 15px 30px;
    background: #4E45AD;
    border-radius: 5px;
    margin-top: 2em;
}

.Featured--section{
    height: auto;
    padding: 50px 20px;
}
.Featured--section .content span{
    font-weight: 500;
    font-size: 18px;
    line-height: 26.74px;
    color: #11101d;
}
.Featured--section .content h2{
    font-weight: 500;
    font-size: 44px;
    line-height: 53.74px;
    color: #11101d;
    padding-bottom: 5px;
}
.Featured--section .content p{
    font-weight: 300;
    font-size: 16px;
    line-height: 23.74px;
    color: #11101d;
}
@media screen and (max-width: 768px){
    .banner--img{
        height: 50vh;
        background-size: 100vh;
        &::before {
            height: 50vh;
        }
    }
    .Featured--section .content h2{
        font-size: 24px;
        line-height: 30.74px;
    }
    .Featured--section .content span, .Featured--section .content p{
        font-size: 14px;
    }
}