/* .intro{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.intro-box{
    max-width: 700px;
    width: 100%;
    margin: auto;
    height: 50%;
    align-items: center;
    justify-content: center;
}
.intro-box h1{
    text-align: center;
    font-size: 56px;
    color: #11101d;
}
.intro-box p{
    font-size: 16px;
    text-align: justify;
} */
.container {
    width: 90vw;
    /* margin: 5rem auto; */
    margin: auto;
    background: transparent;
    border-radius: 5px;
    padding: 2rem 2rem;
    max-width: 100%;
    /* display: grid; */
    gap: 1rem 2rem;
}

.container h3 {
    line-height: 1.2;
    font-weight: 500;
    padding-bottom: 20px;
}

.question {
    padding: 1rem 1.5rem;
    border: 2px solid gray;
    margin-bottom: 1rem;
    border-radius: 5px;
    /* box-shadow: var(--light-shadow); */
    transition: 0.5s ease-in-out;
}

.question h4 {
    text-transform: none;
    line-height: 1.5;
}

.question p {
    color: gray;
    margin-bottom: 0;
    margin-top: 0.5rem;
}

.question header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question header h4 {
    margin-bottom: 0;
}

.btn {
    background: transparent;
    border-color: transparent;
    width: 2rem;
    height: 2rem;
    /* background: #ffffff; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #4E45AD ;
    cursor: pointer;
    margin-left: 1rem;
    align-self: center;
    min-width: 2rem;
    font-size: 1.5em;
}
.introheading{
    font-size: 36px;
    text-align: center;
    padding: 20px 0;
}

@media screen and (min-width: 992px) {
    .container {
        /* display: grid; */
        grid-template-columns: 250px 1fr;
    }
}
@media screen and (max-width: 992px) {
    .introheading{
        font-size: 26px;
    }
}