@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}

.feedback {
  display: flex;
}

.feedback-box {
  top: 0;
  right: 0;
}

.card {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  flex-wrap: wrap;
  padding: 20px 0px;
}

.cardBox {
  width: 100%;
  height: 360px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.cardBox .cardImg {
  height: 220px;
}

.cardBox .cardImg img {
  height: 100%;
  width: 100%;
  /* object-fit: cover; */
  border-radius: 10px 10px 0 0;
}

.cardBox .cardContent {
  padding: 20px;
  height: 125px;
  position: relative;
}

.cardBox .cardContent h2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-champ: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;

}

.cardBox .cardContent p,
.cardAuth p {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

.cardBox .cardContent > p {
  padding: 15px 0 0;
}

.cardBox .cardContent p span {
  color: #4E45AD;
}

.cardAuth {
  position: absolute;
  bottom: 0px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardAuth a {
  border-radius: 5px;
  background: #4E45AD;
  border: 1px solid #4E45AD;
  color: #fff;
  font-size: 12px;
  padding: 8px 28px;
}

/* .cardbox{
  width: 100%;
  background: #F6F6F6;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 400px;
  padding: 20px;
  border-radius: 5px;
}

.imgbox{
  border-radius: 10px;
  height: 200px;
}

.imgbox img{
  width: 100%;
  height: 100%;
}

.infobox{
  position: relative;
  width: 100%;
  height: 200px;
  padding-top: 10px;
}

.infobox h1{
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  letter-spacing: 1px;
  color: #000;
  padding-top: 5px;
}
.infobox span{
  font-weight: 400;
  font-size: 16px;
  color: #4E45AD;
}
.infobox p{
  line-height: 26px;
  font-weight: 400;
  font-size: 14px;
  color: #4E45AD;
  position: absolute;
  bottom: 5.5em;
}

.person{
  display: flex;
  margin: 20px 0;
  align-items: center;
  position: absolute;
  bottom: 1em;
  gap: 10px;
}

.person a{
  font-size: 14px;
  color: #000000;
}
.person img{
  width: 30px;
  border-radius: 100%;
}
main{
  margin-left: 0;
  transition: 0.5s;
}
main.open{
  margin-left: 170px;
} */
@media screen and (max-width: 991px) {
  .banner--img .content {
    width: 100% !important;
  }

  .banner--img .content h1 {
    font-size: 24px !important;
    line-height: 30.74px !important;
  }

  .banner--img .content p {
    font-size: 14px !important;
    line-height: 20.74px !important;
  }

  .banner--img .content a {
    font-size: 14px !important;
    line-height: 20.91px !important;
  }

  .card {
    justify-content: space-evenly;
    grid-template-columns: repeat(1, 1fr);
    /* padding-top: 0; */
  }

  .cardbox {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .imgbox {
    margin-left: 0;
    text-align: center;
  }

  .infobox h1 {
    font-size: 18px;
    color: #000;
  }

  .person {
    margin: 0;
  }

  .infobox p {
    bottom: 5em;
  }
}

@media screen and (max-width: 600px) {
  main.open {
    margin-left: 0px;
  }

}