@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
  text-decoration: none;
  text-transform: capitalize;
}
html{
  scroll-behavior: smooth;
}

@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}

.feedback{
  display: flex;
}
.feedback-box{
  top: 0;
  right: 0;
}
.card{
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.cardbox{
  width: 275px;
  background: #F6F6F6;
  margin: 20px;
}

.imgbox{
  padding: 10px;
  border-radius: 10px;
}

.imgbox img{
  width: 100%;
}

.infobox{
  position: relative;
  width: 100%;
  padding: 0 10px;
}

.infobox h1{
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 1px;
  color: #000;
}

.infobox p{
  padding-top: 10px;
  font-weight: 300;
  font-size: 14px;
}

.person{
  display: flex;
  margin: 20px 0;
  align-items: center;
}

.person a{
  font-size: 14px;
  color: #000000;
  padding: 0 20px;
}
.person img{
  width: 45px;
}
main{
  margin-left: 0;
  transition: 0.5s;
}
main.open{
  margin-left: 170px;
}
@media screen and (max-width: 991px){
  .card{
    padding: 10px;
    justify-content: space-evenly;
  }
  .cardbox{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
  }

  .imgbox{
    margin-left: 0;
    text-align: center;
  }
  .infobox{
    padding: 0 10px;
  }
  .infobox h1{
    font-size: 18px;
    color: #000;
  }
  
}
@media screen and (max-width: 600px){
  main.open{
    margin-left: 0px;
  }
}
  